@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  font-family: Nunito, sans-serif;
}

/*  Hamburger Navigation Menu  */

/* Overlay */
.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateX(-100vw);
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

/* Nav Menu Items */
nav,
nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}

nav ul li {
  height: 20%;
  overflow: hidden;
}

nav li a {
  position: relative;
  top: 45%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
}

nav li a:hover {
  transform: scale(1.2);
}

nav li a::before {
  content: "";
  width: 25vw;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 47.5%;
  left: 0;
  opacity: 0;
}

nav li a:hover::before {
  opacity: 1;
}

/* Menu Bars */

.menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: #ec25b8;
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

/* Sections  */

section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--primaryColor);
}

section#home {
  background-image: url(images/top-bg.jpg);
  background-position: center center;
}

section#home p {
  margin-left: 5rem;
  z-index: 2;
  top: 1.5rem;
  left: 1.5rem;
  text-decoration: none;
  font-size: 1.35rem;
  padding-bottom: 5px;
  color: #fff;
  border-bottom: 1px solid #fff;
}

section#about {
  width: 100%;
  height: 100%;
  padding: 15rem 0 6rem 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-heading {
  font-size: 2rem;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 15rem;
  margin-top: -2rem;
  border-bottom: 0.3rem solid #333;
  text-shadow: 0.2rem 0.2rem 0.5rem #555;
}
.services {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.service {
  text-align: center;
}

.service:first-child,
.service:last-child {
  align-self: flex-start;
}

.service i {
  font-size: 8rem;
  color: #888;
  margin-bottom: 2rem;
  text-shadow: 0.1rem 0.1rem 0.5rem #555;
}

.service h2 {
  font-size: 2rem;
  color: #fff;
  background-color: #777;
  width: 22rem;
  letter-spacing: 0.3rem;
  transform: skew(-10deg);
  box-shadow: 0.2rem 0.2rem 0.5rem #555;
}
/* skill section */
.section-2 {
  width: 100%;
  height: 100%;
  padding: 15rem 0 10rem 0;
  background-color: #eef;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.progress-bars-wrapper {
  margin-top: -5rem;
}

.progress {
  width: 60rem;
  height: 3rem;
  background-color: #ccc;
  margin: 1.5rem 0;
  border-radius: 0.3rem;
  box-shadow: 0.2rem 0.2rem 1rem #555;
  position: relative;
}

.progress-text {
  margin-top: 5px;
  position: absolute;
  left: 1rem;
  font-size: 1.5rem;
  color: #fff;
}

.progress-text span {
  margin: 0 0.5rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.progress-percent {
  width: 0;
  height: 100%;
  background-color: #070514;
  border-radius: 0.3rem;
  transition: width 0.5s 0.5s ease-in-out;
}

/* Section 3 */
.section-3 {
  width: 100%;
  height: 100%;
  padding: 10rem 0;
  background-color: #236267;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-wrapper {
  width: 40%;
  flex-wrap: wrap;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem;
  margin-bottom: 5rem;
  margin-top: 0rem;
  background-color: #fff;
  box-shadow: 0.3rem 0.3rem 0.5rem #777;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.5s;
}

.project:hover {
  box-shadow: 1rem 1rem 1rem #777;
}

.project-text {
  text-align: center;
  letter-spacing: 15px;
  position: absolute;
  top: -15rem;
  z-index: 10;
  transition: top 0.3s;
}
#project-id {
  margin-top: 1rem;
}

.project:hover .project-text {
  top: 5rem;
  transition: top 0.3s 0.3s;
}

.project-name {
  margin-top: -3rem;
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  text-transform: capitalize;
}

.project-technologies {
  font-size: 2rem;
  color: #be2c2c;
}

.project-img {
  width: 40rem;
  transition: opacity 0.3s;
}

.project:hover .project-img {
  opacity: 0.2;
}

.project-link {
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
  letter-spacing: 0.1rem;
  border: 0.3rem solid #1ce4df;
  padding: 0 1rem;
  background-color: #fff;
  position: absolute;
  bottom: -5rem;
  border-radius: 15px;
  transition: bottom 0.3s;
}
.project:hover .project-link {
  bottom: 5rem;
  transition: bottom 0.3s 0.3s;
}

section#contact {
  background-color: #eef;
}
.section-4 {
  width: 100%;
  height: 100%;
  padding: 10rem 0;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.contact-form {
  width: 50%;
  position: relative;
  min-height: 1px;
  margin-top: -9rem;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}
input {
  height: 48px;
  width: 100%;
}

input[type="submit"] {
  background: transparent;
  border: 2px solid #999;
  border-radius: 10px;
  letter-spacing: 2px;
  margin-top: 12px;
  height: 50px;
  width: 100%;
}
input[type="submit"]:hover {
  background: #ffffff;
  color: black;
  cursor: pointer;
}
.form-1 {
  width: 100%;
}
.form-2 {
  width: 100%;
}
.form-3 {
  width: 100%;
}
textarea {
  width: 100%;
  height: 50vh;
  margin-top: 15px;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 6px;
  float: left;
}
.hide {
  opacity: 0;
}
.invalid {
  border: 1px solid red;
}
